body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.stats{
	margin-top: 20px;
	margin-bottom: 50px;
	text-align: center;
}

h1{
	font-size: 3em;
}
h2{
	font-size: 40px;
}

.grCol, .geCol, .prCol, .omCol, .pchCol, .spCol, .ecCol{
	width: 30px;
	height: 30px;
	margin: 0 auto;
}

.grCol{
	background: green;

}
.geCol{
	background: yellow;

}
.prCol{
	background: red;

}
.omCol{
	background: blue;

}
.spCol{
	background: orange;

}
.pchCol{
	background: purple;

}
.ecCol{
	background: #acacac;
}



canvas{
	display: block;
	margin: 0 auto;
}